/* ReservationModal.module.css */

.modal {
  display: none;
  position: fixed;
 
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.modal.open {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  padding: 20px;
  height: auto;
  margin: 100px auto;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #333;
}

.modal label {
  display: block;
  margin: 10px 0;
}

.modal input {
  
  padding: 8px;
  margin-bottom: 20px;
}
.timeButtons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 100%;
}
.occupied{
background-color: red !important;
}
.modal button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #45a049;
  cursor: pointer;
}
.selectModal{
  margin: 10px;
  margin-left: 0px;
  padding: 5px;
  padding-left: 0px;
  font-size: 15px;
}
.selectModal option {
  padding: 8px;
}
.selectedTime {
  background-color: yellow !important; /* or any other style you want for selected time */
  color: black !important;
  /* Add any other styles for the selected time button */
}