/* App.css */

/* ToastContainer styles */
.Toastify {
    font-family: 'Arial', sans-serif;
  }
  
  .Toastify__toast-container {
    width: 320px;
  }
  
  .Toastify__toast {
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  
  /* Success notification styles */
  .Toastify__toast--success {
    background-color: #28a745;
  }
  
  /* Error notification styles */
  .Toastify__toast--error {
    background-color: #dc3545;
  }
  
  /* Info notification styles */
  .Toastify__toast--info {
    background-color: #007bff;
  }
  
  /* Warning notification styles */
  .Toastify__toast--warning {
    background-color: #ffc107;
  }
  